﻿@charset "UTF-8";

/* CSS Style sheet of gener4.fet
   Style sheet generated with FET 6.8.0 on 1/20/23 9:14 AM */

/* To do a page-break only after every second timetable, delete "page-break-before: always;" in "table.even_table". */
/* Delete "page-break-before: always;" in "table.even_table" and in "table.odd_table" to skip page-breaks. */
/* To hide an element just write the following phrase into the element: "display: none;" (without quotes). */

p.back {
  margin-top: 4ex;
  margin-bottom: 5ex;
}

table {
  text-align: center;
  page-break-inside: avoid;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left: auto; margin-right: auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

thead {

}

/* Some programs import "tfoot" incorrectly. So we use "tr.foot" instead of "tfoot". */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

td.c_1 { /* Activity id: 1 (subject) */
 background-color: rgb(211, 222, 202);
 color: black;
}

td.c_2 { /* Activity id: 3 (subject) */
 background-color: rgb(182, 114, 53);
 color: white;
}

td.c_3 { /* Activity id: 11 (subject) */
 background-color: rgb(37, 148, 212);
 color: white;
}

td.c_4 { /* Activity id: 23 (subject) */
 background-color: rgb(186, 235, 195);
 color: black;
}

td.c_5 { /* Activity id: 35 (subject) */
 background-color: rgb(77, 235, 82);
 color: black;
}

td.c_6 { /* Activity id: 43 (subject) */
 background-color: rgb(8, 112, 251);
 color: white;
}

td.c_7 { /* Activity id: 45 (subject) */
 background-color: rgb(30, 10, 40);
 color: white;
}

td.c_8 { /* Activity id: 47 (subject) */
 background-color: rgb(97, 159, 7);
 color: white;
}

td.c_9 { /* Activity id: 51 (subject) */
 background-color: rgb(47, 42, 18);
 color: white;
}

td.c_10 { /* Activity id: 55 (subject) */
 background-color: rgb(163, 216, 47);
 color: black;
}

td.c_11 { /* Activity id: 67 (subject) */
 background-color: rgb(41, 13, 34);
 color: white;
}

td.c_12 { /* Activity id: 82 (subject) */
 background-color: rgb(175, 65, 217);
 color: white;
}

td.c_13 { /* Activity id: 95 (subject) */
 background-color: rgb(145, 191, 247);
 color: black;
}

td.c_14 { /* Activity id: 106 (subject) */
 background-color: rgb(217, 130, 123);
 color: black;
}

td.c_15 { /* Activity id: 112 (subject) */
 background-color: rgb(60, 167, 56);
 color: white;
}

td.c_16 { /* Activity id: 125 (subject) */
 background-color: rgb(23, 243, 12);
 color: black;
}

td.c_17 { /* Activity id: 127 (subject) */
 background-color: rgb(222, 13, 179);
 color: white;
}

td.c_18 { /* Activity id: 129 (subject) */
 background-color: rgb(19, 1, 101);
 color: white;
}

td.c_19 { /* Activity id: 130 (subject) */
 background-color: rgb(65, 114, 164);
 color: white;
}

td.c_20 { /* Activity id: 132 (subject) */
 background-color: rgb(199, 62, 95);
 color: white;
}

td.c_21 { /* Activity id: 205 (subject) */
 background-color: rgb(88, 65, 72);
 color: white;
}

td.c_22 { /* Activity id: 1 (subject+students) */
 background-color: rgb(3, 158, 185);
 color: white;
}

td.c_23 { /* Activity id: 2 (subject+students) */
 background-color: rgb(15, 7, 79);
 color: white;
}

td.c_24 { /* Activity id: 3 (subject+students) */
 background-color: rgb(208, 109, 145);
 color: black;
}

td.c_25 { /* Activity id: 5 (subject+students) */
 background-color: rgb(220, 244, 103);
 color: black;
}

td.c_26 { /* Activity id: 7 (subject+students) */
 background-color: rgb(123, 252, 73);
 color: black;
}

td.c_27 { /* Activity id: 9 (subject+students) */
 background-color: rgb(119, 101, 191);
 color: white;
}

td.c_28 { /* Activity id: 11 (subject+students) */
 background-color: rgb(8, 218, 219);
 color: black;
}

td.c_29 { /* Activity id: 14 (subject+students) */
 background-color: rgb(4, 67, 45);
 color: white;
}

td.c_30 { /* Activity id: 17 (subject+students) */
 background-color: rgb(163, 75, 3);
 color: white;
}

td.c_31 { /* Activity id: 20 (subject+students) */
 background-color: rgb(175, 210, 245);
 color: black;
}

td.c_32 { /* Activity id: 23 (subject+students) */
 background-color: rgb(73, 61, 155);
 color: white;
}

td.c_33 { /* Activity id: 26 (subject+students) */
 background-color: rgb(69, 164, 109);
 color: black;
}

td.c_34 { /* Activity id: 29 (subject+students) */
 background-color: rgb(226, 172, 67);
 color: black;
}

td.c_35 { /* Activity id: 32 (subject+students) */
 background-color: rgb(238, 53, 181);
 color: white;
}

td.c_36 { /* Activity id: 35 (subject+students) */
 background-color: rgb(124, 26, 109);
 color: white;
}

td.c_37 { /* Activity id: 37 (subject+students) */
 background-color: rgb(112, 131, 155);
 color: black;
}

td.c_38 { /* Activity id: 39 (subject+students) */
 background-color: rgb(215, 139, 181);
 color: black;
}

td.c_39 { /* Activity id: 41 (subject+students) */
 background-color: rgb(219, 18, 67);
 color: white;
}

td.c_40 { /* Activity id: 43 (subject+students) */
 background-color: rgb(157, 109, 202);
 color: black;
}

td.c_41 { /* Activity id: 44 (subject+students) */
 background-color: rgb(145, 244, 60);
 color: black;
}

td.c_42 { /* Activity id: 45 (subject+students) */
 background-color: rgb(21, 151, 97);
 color: white;
}

td.c_43 { /* Activity id: 46 (subject+students) */
 background-color: rgb(25, 14, 151);
 color: white;
}

td.c_44 { /* Activity id: 47 (subject+students) */
 background-color: rgb(33, 165, 251);
 color: black;
}

td.c_45 { /* Activity id: 49 (subject+students) */
 background-color: rgb(45, 60, 13);
 color: white;
}

td.c_46 { /* Activity id: 51 (subject+students) */
 background-color: rgb(56, 121, 245);
 color: white;
}

td.c_47 { /* Activity id: 53 (subject+students) */
 background-color: rgb(168, 15, 97);
 color: white;
}

td.c_48 { /* Activity id: 54 (subject+students) */
 background-color: rgb(164, 150, 151);
 color: black;
}

td.c_49 { /* Activity id: 55 (subject+students) */
 background-color: rgb(254, 135, 246);
 color: black;
}

td.c_50 { /* Activity id: 58 (subject+students) */
 background-color: rgb(242, 30, 0);
 color: white;
}

td.c_51 { /* Activity id: 61 (subject+students) */
 background-color: rgb(85, 22, 46);
 color: white;
}

td.c_52 { /* Activity id: 64 (subject+students) */
 background-color: rgb(89, 143, 216);
 color: black;
}

td.c_53 { /* Activity id: 67 (subject+students) */
 background-color: rgb(146, 220, 83);
 color: black;
}

td.c_54 { /* Activity id: 70 (subject+students) */
 background-color: rgb(158, 69, 165);
 color: white;
}

td.c_55 { /* Activity id: 73 (subject+students) */
 background-color: rgb(57, 77, 139);
 color: white;
}

td.c_56 { /* Activity id: 76 (subject+students) */
 background-color: rgb(53, 212, 125);
 color: black;
}

td.c_57 { /* Activity id: 82 (subject+students) */
 background-color: rgb(103, 215, 252);
 color: black;
}

td.c_58 { /* Activity id: 85 (subject+students) */
 background-color: rgb(107, 78, 10);
 color: white;
}

td.c_59 { /* Activity id: 88 (subject+students) */
 background-color: rgb(204, 70, 36);
 color: white;
}

td.c_60 { /* Activity id: 91 (subject+students) */
 background-color: rgb(192, 223, 210);
 color: black;
}

td.c_61 { /* Activity id: 95 (subject+students) */
 background-color: rgb(17, 18, 211);
 color: white;
}

td.c_62 { /* Activity id: 98 (subject+students) */
 background-color: rgb(29, 139, 37);
 color: white;
}

td.c_63 { /* Activity id: 100 (subject+students) */
 background-color: rgb(186, 131, 11);
 color: black;
}

td.c_64 { /* Activity id: 103 (subject+students) */
 background-color: rgb(182, 26, 253);
 color: white;
}

td.c_65 { /* Activity id: 106 (subject+students) */
 background-color: rgb(35, 71, 67);
 color: white;
}

td.c_66 { /* Activity id: 107 (subject+students) */
 background-color: rgb(47, 222, 181);
 color: black;
}

td.c_67 { /* Activity id: 109 (subject+students) */
 background-color: rgb(35, 7, 207);
 color: white;
}

td.c_68 { /* Activity id: 110 (subject+students) */
 background-color: rgb(111, 181, 91);
 color: black;
}

td.c_69 { /* Activity id: 112 (subject+students) */
 background-color: rgb(84, 36, 215);
 color: white;
}

td.c_70 { /* Activity id: 114 (subject+students) */
 background-color: rgb(246, 208, 115);
 color: black;
}

td.c_71 { /* Activity id: 116 (subject+students) */
 background-color: rgb(205, 65, 255);
 color: black;
}

td.c_72 { /* Activity id: 118 (subject+students) */
 background-color: rgb(129, 243, 107);
 color: black;
}

td.c_73 { /* Activity id: 119 (subject+students) */
 background-color: rgb(193, 210, 95);
 color: black;
}

td.c_74 { /* Activity id: 120 (subject+students) */
 background-color: rgb(239, 169, 139);
 color: black;
}

td.c_75 { /* Activity id: 125 (subject+students) */
 background-color: rgb(212, 56, 7);
 color: white;
}

td.c_76 { /* Activity id: 127 (subject+students) */
 background-color: rgb(47, 53, 134);
 color: white;
}

td.c_77 { /* Activity id: 129 (subject+students) */
 background-color: rgb(223, 84, 108);
 color: black;
}

td.c_78 { /* Activity id: 130 (subject+students) */
 background-color: rgb(141, 193, 34);
 color: black;
}

td.c_79 { /* Activity id: 132 (subject+students) */
 background-color: rgb(182, 80, 174);
 color: white;
}

td.c_80 { /* Activity id: 135 (subject+students) */
 background-color: rgb(74, 154, 125);
 color: white;
}

td.c_81 { /* Activity id: 136 (subject+students) */
 background-color: rgb(205, 75, 169);
 color: white;
}

td.c_82 { /* Activity id: 137 (subject+students) */
 background-color: rgb(130, 97, 106);
 color: white;
}

td.c_83 { /* Activity id: 141 (subject+students) */
 background-color: rgb(206, 211, 254);
 color: black;
}

td.c_84 { /* Activity id: 146 (subject+students) */
 background-color: rgb(245, 66, 114);
 color: white;
}

td.c_85 { /* Activity id: 148 (subject+students) */
 background-color: rgb(108, 39, 90);
 color: white;
}

td.c_86 { /* Activity id: 150 (subject+students) */
 background-color: rgb(27, 4, 66);
 color: white;
}

td.c_87 { /* Activity id: 153 (subject+students) */
 background-color: rgb(83, 184, 218);
 color: black;
}

td.c_88 { /* Activity id: 154 (subject+students) */
 background-color: rgb(219, 66, 113);
 color: white;
}

td.c_89 { /* Activity id: 155 (subject+students) */
 background-color: rgb(234, 118, 65);
 color: black;
}

td.c_90 { /* Activity id: 156 (subject+students) */
 background-color: rgb(19, 156, 140);
 color: white;
}

td.c_91 { /* Activity id: 158 (subject+students) */
 background-color: rgb(148, 243, 17);
 color: black;
}

td.c_92 { /* Activity id: 165 (subject+students) */
 background-color: rgb(162, 24, 44);
 color: white;
}

td.c_93 { /* Activity id: 169 (subject+students) */
 background-color: rgb(37, 119, 177);
 color: white;
}

td.c_94 { /* Activity id: 171 (subject+students) */
 background-color: rgb(174, 226, 130);
 color: black;
}

td.c_95 { /* Activity id: 173 (subject+students) */
 background-color: rgb(16, 53, 38);
 color: white;
}

td.c_96 { /* Activity id: 174 (subject+students) */
 background-color: rgb(230, 239, 183);
 color: black;
}

td.c_97 { /* Activity id: 175 (subject+students) */
 background-color: rgb(24, 251, 84);
 color: black;
}

td.c_98 { /* Activity id: 177 (subject+students) */
 background-color: rgb(67, 198, 19);
 color: black;
}

td.c_99 { /* Activity id: 180 (subject+students) */
 background-color: rgb(117, 45, 46);
 color: white;
}

td.c_100 { /* Activity id: 184 (subject+students) */
 background-color: rgb(245, 188, 157);
 color: black;
}

td.c_101 { /* Activity id: 186 (subject+students) */
 background-color: rgb(195, 87, 160);
 color: black;
}

td.c_102 { /* Activity id: 187 (subject+students) */
 background-color: rgb(77, 125, 165);
 color: white;
}

td.c_103 { /* Activity id: 188 (subject+students) */
 background-color: rgb(131, 149, 53);
 color: black;
}

td.c_104 { /* Activity id: 189 (subject+students) */
 background-color: rgb(24, 16, 72);
 color: white;
}

td.c_105 { /* Activity id: 190 (subject+students) */
 background-color: rgb(232, 182, 149);
 color: black;
}

td.c_106 { /* Activity id: 192 (subject+students) */
 background-color: rgb(147, 82, 202);
 color: white;
}

td.c_107 { /* Activity id: 195 (subject+students) */
 background-color: rgb(186, 14, 255);
 color: white;
}

td.c_108 { /* Activity id: 199 (subject+students) */
 background-color: rgb(100, 154, 116);
 color: black;
}

td.c_109 { /* Activity id: 201 (subject+students) */
 background-color: rgb(77, 198, 65);
 color: black;
}

td.c_110 { /* Activity id: 202 (subject+students) */
 background-color: rgb(148, 15, 108);
 color: white;
}

td.c_111 { /* Activity id: 204 (subject+students) */
 background-color: rgb(42, 216, 200);
 color: black;
}

td.c_112 { /* Activity id: 205 (subject+students) */
 background-color: rgb(163, 7, 178);
 color: white;
}

td.c_113 { /* Activity id: 207 (subject+students) */
 background-color: rgb(161, 77, 251);
 color: white;
}

td.c_114 { /* Activity id: 209 (subject+students) */
 background-color: rgb(38, 34, 102);
 color: white;
}

td.c_115 { /* Activity id: 210 (subject+students) */
 background-color: rgb(110, 76, 11);
 color: white;
}

td.c_116 { /* Activity id: 211 (subject+students) */
 background-color: rgb(16, 201, 91);
 color: black;
}

td.c_117 { /* Activity id: 214 (subject+students) */
 background-color: rgb(71, 109, 234);
 color: white;
}

td.c_118 { /* Activity id: 217 (subject+students) */
 background-color: rgb(113, 134, 215);
 color: black;
}

td.c_119 { /* Activity id: 219 (subject+students) */
 background-color: rgb(241, 23, 100);
 color: white;
}

td.c_120 { /* Activity id: 223 (subject+students) */
 background-color: rgb(199, 252, 89);
 color: black;
}

td.c_121 { /* Activity id: 226 (subject+students) */
 background-color: rgb(156, 193, 30);
 color: black;
}

td.c_122 { /* Activity id: 228 (subject+students) */
 background-color: rgb(98, 213, 253);
 color: black;
}

td.c_123 { /* Activity id: 229 (subject+students) */
 background-color: rgb(80, 95, 19);
 color: white;
}

td.c_124 { /* Activity id: 231 (subject+students) */
 background-color: rgb(92, 198, 229);
 color: black;
}

td.c_125 { /* Activity id: 236 (subject+students) */
 background-color: rgb(151, 166, 198);
 color: black;
}

td.c_126 { /* Activity id: 240 (subject+students) */
 background-color: rgb(9, 17, 229);
 color: white;
}

td.c_127 { /* Activity id: 241 (subject+students) */
 background-color: rgb(5, 136, 19);
 color: white;
}

td.c_128 { /* Activity id: 274 (subject+students) */
 background-color: rgb(49, 40, 224);
 color: white;
}

span.subject {

}

span.activitytag {

}

span.empty {
  color: gray;
}

td.empty {
  border-color: silver;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-top-style: dotted;
}

span.notAvailable {
  color: gray;
}

td.notAvailable {
  border-color: silver;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-top-style: dotted;
}

span.break {
  color: gray;
}

td.break {
  border-color: silver;
  border-right-style: none;
  border-bottom-style: none;
  border-left-style: dotted;
  border-top-style: dotted;
}

tr.studentsset, div.studentsset {

}

tr.teacher, div.teacher {

}

tr.room, div.room {

}

tr.line0, div.line0 {
  font-size: smaller;
}

tr.line1, div.line1 {

}

tr.line2, div.line2 {
  font-size: smaller;
}

tr.line3, div.line3 {
  font-size: smaller;
}

/* Style the teachers' free periods */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

div.TEACHER_HAS_SINGLE_GAP {
  color: black;
}

div.TEACHER_HAS_BORDER_GAP {
  color: gray;
}

div.TEACHER_HAS_BIG_GAP {
  color: silver;
}

div.TEACHER_MUST_COME_EARLIER {
  color: purple;
}

div.TEACHER_MUST_COME_MUCH_EARLIER {
  font-size: smaller;
  color: fuchsia;
}

div.TEACHER_MUST_STAY_LONGER {
  color: teal;
}

div.TEACHER_MUST_STAY_MUCH_LONGER {
  font-size: smaller;
  color: aqua;
}

div.TEACHER_HAS_A_FREE_DAY {
  font-size: smaller;
  color: red;
}

div.TEACHER_IS_NOT_AVAILABLE {
  font-size: smaller;
  color: olive;
}

/* End of file. */
